In [1]:
import pandas as pd
path = "/home/font/Data/MM/HMP/"

HMPaddress = 'HMPaddress.csv'
df_HMPaddress = pd.read_csv((path+HMPaddress))

df_HMPaddress.head(5)

   ID     x     y   z  stats
0   1    74   781   5      4
1   2  1373   731  11      4
2   3  1321  1791  28      4
3   4     0  1787   4      2
4   5  1049  2127  12      4

In [63]:
HMP = 'HMP.csv'
df_HMP = pd.read_csv((path+HMP))
df_HMP['stats'] = df_HMPaddress['stats']
df_HMP = df_HMP.drop(['ID'],axis=1)
df_HMP.head(5)

     As     Cd     Cr      Cu     Hg    Ni      Pb      Zn  stats
0  7.84  153.8  44.31   20.56  266.0  18.2   35.38   72.35      4
1  5.93  146.2  45.05   22.51   86.0  17.2   36.18   94.59      4
2  4.90  439.2  29.07   64.56  109.0  10.6   74.32  218.37      4
3  6.56  223.9  40.08   25.17  950.0  15.4   32.28  117.35      2
4  6.35  525.2  59.35  117.53  800.0  20.2  169.96  726.02      4

In [72]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

rng = np.random.RandomState(100)

# fit the model
clf = IsolationForest(max_samples=100, random_state=rng)

clf.fit(df_HMP)
Result_HMP = clf.predict(df_HMP)

In [73]:
df_Result_HMP = pd.DataFrame(Result_HMP)
df_Result_HMP.columns = ['y']
df_HMP['y'] = df_Result_HMP['y']
df_HMP_new = df_HMP.loc[df_Result_HMP['y']  == 1]
# df_HMP_new

In [74]:
import math
def Nemerow(DataFrame,axis=0):
    resultNumber = DataFrame.mean(axis=axis) ** 2 + DataFrame.max(axis=axis) ** 2
    resultNumber = (resultNumber/2)
    return resultNumber

In [75]:
# 计算单因子指标,S为国家二级标准
df_HMP_p = df_HMP_new.drop(['y'],axis=1)/[25,300,300,100,500,50,300,250,1]

In [79]:
print("单因子系数使用国家二级标准(中性土壤)")
list_Nemerow = []
for j in [1,2,3,4,5]:
    list_area =[]
#     df_HMP_area = df_HMP_p.loc[df_HMP_p['stats']  == j]
    df_HMP_area = df_HMP_p.loc[df_HMP_p['stats']  == j].drop(['stats'],axis=1)
#     print("\n当前区域为:",j)
#     print('\n',df_HMP_area.head(),'\n')
    for i in range(len(list(Nemerow(df_HMP_area)))):
#         print(list(df_HMP_area.columns)[i] ,'--内梅罗系数-->',math.sqrt(list(Nemerow(df_HMP_area))[i]))
        list_area.append(math.sqrt(list(Nemerow(df_HMP_area))[i]))        
    list_Nemerow.append(list_area)
pd_Nemerow = pd.DataFrame(list_Nemerow)
pd_Nemerow.columns = df_HMP_area.columns
pd_Nemerow.index = [1,2,3,4,5]
pd_Nemerow

单因子系数使用国家二级标准(中性土壤)

,As,Cd,Cr,Cu,Hg,Ni,Pb,Zn
1,0.351816,1.884024,0.241856,0.728701,0.786436,0.469942,0.297612,0.982414
2,0.347476,1.478806,0.230812,0.982645,1.359730,0.566116,0.327909,0.959784
3,0.331565,1.024940,0.235295,0.503170,0.298122,0.674905,0.281607,0.527572
4,0.866083,3.898856,0.391984,1.995336,19.518318,0.449536,0.344018,1.693755
5,0.312577,2.201410,0.164753,0.324045,0.378994,0.417606,0.322945,0.685183

In [80]:
list_area_all =[]
for i in range(len(list(Nemerow(pd_Nemerow,axis=1)))):
    list_area_all.append(math.sqrt(list(Nemerow(pd_Nemerow,axis=1))[i]))        

pd_Nemerow_all = pd.DataFrame(list_area_all)
pd_Nemerow_all.columns = ['城区综合内梅罗系数']
pd_Nemerow_all.index = [1,2,3,4,5]
pd_Nemerow_all

   城区综合内梅罗系数
1   1.425633
2   1.182764
3   0.801681
4  14.040100
5   1.613588

In [81]:
df_HMP.loc[df_Result_HMP['y']  == -1]

,As,Cd,Cr,Cu,Hg,Ni,Pb,Zn,stats,y
4,6.35,525.2,59.35,117.53,800.00,20.20,169.96,726.02,4,-1
5,14.08,1092.9,67.96,308.61,1040.00,28.20,434.80,966.73,2,-1
7,9.62,1066.2,285.58,2528.48,13500.00,41.70,381.64,1417.86,2,-1
8,7.41,1123.9,88.17,151.64,16000.00,25.80,172.36,926.84,4,-1
13,4.49,359.5,258.15,123.27,77.00,12.90,106.47,853.98,4,-1
15,11.45,1044.5,94.78,136.97,202.00,22.30,472.48,602.04,1,-1
19,8.50,614.0,744.46,130.55,156.00,32.80,228.64,1013.47,1,-1
21,9.84,1213.5,920.84,1364.85,115.00,142.50,181.48,1818.47,4,-1
22,9.39,325.8,172.29,104.89,82.00,31.50,90.90,429.29,1,-1
28,21.87,424.5,73.40,59.72,1520.00,27.80,83.70,175.71,2,-1
29,18.38,630.0,96.68,114.81,645.00,34.80,130.36,1626.02,2,-1
30,10.53,635.3,64.03,101.35,190.00,28.30,162.64,615.10,2,-1
35,3.50,396.3,138.37,58.97,170.00,24.20,91.76,2893.47,1,-1
39,6.56,852.7,72.59,158.67,311.00,21.20,124.24,377.14,4,-1
40,16.58,459.0,94.79,47.17,1900.00,19.90,71.32,215.10,4,-1
41,7.41,337.3,77.27,248.85,90.00,20.10,99.58,210.00,1,-1
48,4.69,568.6,306.02,70.41,900.00,16.80,79.67,196.73,4,-1
60,4.90,303.8,56.02,65.86,63.21,40.05,90.69,3760.82,4,-1
134,1.77,205.5,173.34,27.81,41.79,74.03,55.71,229.80,3,-1
142,8.72,1024.9,77.61,71.24,128.57,19.35,227.40,1389.39,5,-1
144,6.56,202.3,33.28,37.67,1339.29,11.36,140.62,110.92,5,-1
153,8.90,307.3,54.39,57.21,326.00,25.72,131.93,256.94,1,-1
162,5.62,880.0,78.29,121.12,293.00,25.61,171.14,540.00,4,-1
177,23.72,452.1,37.22,43.61,160.00,16.35,73.27,1635.92,4,-1
181,4.17,357.5,38.78,43.89,14901.00,17.70,98.22,349.80,4,-1
220,8.67,423.3,61.41,117.83,216.00,30.30,178.88,293.16,2,-1
222,7.12,967.7,36.41,70.71,66.00,16.87,119.35,457.96,2,-1
231,3.77,515.6,28.74,77.47,1801.00,15.10,70.18,178.57,2,-1
252,4.79,556.2,50.87,143.31,92.00,19.10,180.05,388.69,5,-1
272,9.81,171.8,75.38,163.20,30.00,26.30,45.27,125.16,1,-1
308,10.74,479.2,96.28,29.23,98.00,25.30,80.36,112.35,5,-1
309,11.68,870.5,70.84,35.17,302.00,29.10,78.15,435.44,5,-1